
* {
  outline: none;
  box-sizing: border-box;
}
body {
  margin-top: 20PX;
  color: #555;
  background: rgb(24, 23, 23);
  text-align: center;
  font-family: "Roboto Mono";
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}


