

.container {
  display: flex;
    margin: auto;
    margin-top: 2%;
    padding: 3%;
    width: 765px;
    height: 90%;
    border-radius: 15px;
    box-shadow: 0px 0px 28px -1px rgb(0 0 0 / 54%);
    background-color: #161616;
    margin-bottom: 5%;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}




  .containerbt
{
  width:600px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
.containerbt .btn {
  position:relative;
  width: 155px;
  height: 55px;
  margin:20px;
}

.containerbt .btn a
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background: rgba(255,255,255,0.05);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom:1px solid rgba(255,255,255,0.1);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  font-size: 400;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(15px);
  
}

.containerbt .btn:hover a
{
  letter-spacing: 3px;
}

.containerbt .btn a::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0.15),
  transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.containerbt .btn:hover a::before
{
  transform: skewX(45deg) translateX(200%);
}
.containerbt .btn::before
{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width:30px;
  height:10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.containerbt .btn:hover::before
{
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.containerbt .btn::after
{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width:30px;
  height:10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.containerbt .btn:hover::after
{
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.containerbt .btn:nth-child(1)::before,
.containerbt .btn:nth-child(1)::after
{
  background: #008cff;
  box-shadow: 0 0 5px #008cff,
  0 0 15px #008cff,
  0 0 30px #008cff,
  0 0 60px #008cff;
}

.boxflags{
  box-shadow: inset 2px -3px 23px 3px rgb(0 0 0);
  display: flex;
  box-shadow: inset 2px -3px 23px 3px rgb(0 0 0);
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 100%;
  height: 218px;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  justify-content: space-evenly;
}


.form-group{
  margin-bottom: 5%;
}
.nameselcou{
  font-size: 0.6em;
       
}

.flip1 {
  position: relative;
}
.flip1 > .front1,
.flip1 > .back1 {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.flip1 > .front1 {
  transform: rotateY(0deg);
}
.flip1 > .back1 {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 80%;
  height: 80%;
  transform: rotateY(-180deg);
}
.flip1:hover > .front1 {
  transform: rotateY(180deg);
}
.flip1:hover > .back1 {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip1.flip1-vertical > .back1 {
  transform: rotateX(-180deg);
}
.flip1.flip1-vertical:hover > .front1 {
  transform: rotateX(180deg);
}
.flip1.flip1-vertical:hover > .back1 {
  transform: rotateX(0deg);
}

.flip1 {
  position: relative;
  display: inline-flex;
  margin-right: 20px;
  margin-bottom: 1em;
  width: 350px;
}


.flip1 > .front1,
.flip1 > .back1 {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 69px;
  width: 35%;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}
.flip1 > .front1 p,
.flip1 > .back1 p {
  font-size: 0.5rem;
    line-height: 80%;
    color: #999;
    margin-top: -10px;
}




  